Neste JupyterNotebook foi feito o cálculo do grau de similaridade dos dados númericos e categóricos e após isso a matriz final utilizada para plotar o grafo.

In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("datasetfinal.csv")

In [5]:
df.head(50)

,ID-modifed,Qual a situação da MORADIA DO GRUPO FAMILIAR?,Qual o principal meio de transporte que você utiliza para vir até a Universidade?,NORMALIZAÇÃO: RENDA PERCAPITA EM CATEGORIAS,NORMALIZAÇÃO: VALOR TOTAL DOS BENS EM CATEGORIAS,Normalização : Despesas per capita EM CATEGORIAS
0,1,1,1,1,15,6
1,2,2,2,12,15,12
2,3,1,1,1,15,3
3,4,2,3,2,13,1
4,5,2,2,20,15,8
5,6,1,2,9,2,9
6,7,3,1,16,3,15
7,8,2,3,4,4,2
8,9,2,2,18,5,4
9,10,2,2,18,6,7
10,11,2,3,9,15,11
11,12,3,1,3,15,17
12,13,3,1,7,15,15
13,14,1,3,4,7,15
14,15,3,2,6,5,19
15,16,3,2,4,15,14
16,17,2,3,10,3,12
17,18,2,1,4,9,13
18,19,2,1,2,9,6
19,20,1,3,4,15,15
20,21,2,2,9,6,20
21,22,2,3,8,3,12
22,23,1,4,2,5,4
23,24,2,2,2,10,3
24,25,2,2,2,8,8
25,26,2,2,2,8,8
26,27,1,5,14,1,5
27,28,2,2,13,15,13
28,29,1,3,4,3,1
29,30,2,2,11,15,11
30,31,2,3,11,10,12
31,32,1,1,7,15,20
32,33,2,3,13,10,11
33,34,2,3,10,9,4
34,35,1,2,3,15,1
35,36,2,2,2,9,4
36,37,3,3,6,15,14
37,38,2,2,19,2,4
38,39,1,1,13,15,6
39,40,3,3,11,1,16
40,41,1,3,15,15,11
41,42,1,3,14,15,16
42,43,1,1,15,15,20
43,44,3,2,18,5,18
44,45,2,2,18,15,13
45,46,3,2,6,15,15
46,47,1,1,9,15,4
47,48,2,3,17,11,20
48,49,2,1,9,5,12
49,50,1,2,18,4,1

In [6]:
df1 = df.drop(columns=['NORMALIZAÇÃO: RENDA PERCAPITA EM CATEGORIAS'])
df1 = df1.drop(columns=['NORMALIZAÇÃO: VALOR TOTAL DOS BENS EM CATEGORIAS'])
df1 = df1.drop(columns=['Normalização : Despesas per capita EM CATEGORIAS'])
df1.head()

,ID-modifed,Qual a situação da MORADIA DO GRUPO FAMILIAR?,Qual o principal meio de transporte que você utiliza para vir até a Universidade?
0,1,1,1
1,2,2,2
2,3,1,1
3,4,2,3
4,5,2,2

In [6]:
#Criando a matriz de adjacências para os dados de string
num_alunos = len(df1)
adj_matrix = np.zeros((num_alunos, num_alunos), dtype=float)
elementos = 2

for i in range(num_alunos):
    for j in range(num_alunos):
        if i != j:  # Para não comparar um aluno consigo mesmo
            soma = sum(df1.iloc[i, 1:] == df1.iloc[j, 1:])
            num_atributos_comuns = soma/elementos
            adj_matrix[i][j] = num_atributos_comuns


adj_df = pd.DataFrame(adj_matrix, index=df1.index, columns=df1.index)
adj_df.to_csv('matriz_string.csv', index_label='Aluno')

In [7]:
df2 = df.drop(columns=['Qual a situação da MORADIA DO GRUPO FAMILIAR?'])
df2 = df2.drop(columns=['Qual o principal meio de transporte que você utiliza para vir até a Universidade?'])
df2.head()

,ID-modifed,NORMALIZAÇÃO: RENDA PERCAPITA EM CATEGORIAS,NORMALIZAÇÃO: VALOR TOTAL DOS BENS EM CATEGORIAS,Normalização : Despesas per capita EM CATEGORIAS
0,1,1,15,6
1,2,12,15,12
2,3,1,15,3
3,4,2,13,1
4,5,20,15,8

In [7]:
# Criando a matriz de adjacências
num_alunos = len(df2)
adj_matrix = np.zeros((num_alunos, num_alunos), dtype=float)
elementos = 3

for i in range(num_alunos):
    for j in range(num_alunos):
        if i != j: 
            soma = sum(df2.iloc[i, 1:] == df2.iloc[j, 1:])
            num_atributos_comuns = soma/elementos
            adj_matrix[i][j] = num_atributos_comuns

adj_df = pd.DataFrame(adj_matrix, index=df2.index, columns=df2.index)
adj_df.to_csv('matriz_numericos.csv', index_label='Aluno')

In [8]:
#Carregando as duas matrizes de adjacências
matriz1 = pd.read_csv('matriz_string.csv', index_col='Aluno')
matriz2 = pd.read_csv('matriz_numericos.csv', index_col='Aluno')

#Criando a matriz de adjacências final
num_alunos = len(df2)
adj_matrix = np.zeros((num_alunos, num_alunos), dtype=float)


for i in range(num_alunos):
    for j in range(num_alunos):
        if i != j: 
            adj_matrix[i][j] = matriz1.iloc[i, j] + matriz2.iloc[i, j]


adj_df = pd.DataFrame(adj_matrix, index=df2.index, columns=df2.index)
adj_df.to_excel('matriz_final.xlsx', index_label='Aluno')